<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-theme="default">

<head>

  <meta charset="utf-8" />
  <title> <%-title%> | Now Shipping</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="Professional shipping services - fast and reliable delivery for your cargo." name="description" />
<meta content="Now Shipping" name="author" />

  <!-- App favicon -->

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

   <link rel="shortcut icon" href="/assets/rImages/mainlogospining.png">
  <%- HeaderCss %>

  <%- include ('../partials/head-css.ejs') %>

</head>

<body>

  <%- body%>

  <%- include ('../partials/vendor-scripts') %>
  <%- FooterJs %>

</body>

</html>